In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
import pymysql
pymysql.install_as_MySQLdb()

In [3]:
csv1= "GPI_and_religion.csv"
df1= pd.read_csv(csv1)
df1.head()

       country  gdp_pc  gpi_rank  gpi_score  percentage_non_religious
0      Iceland   38300         1      1.113                     10.04
1      Denmark   36600         2      1.239                      6.90
2  New Zealand   27700         2      1.239                     34.60
3       Canada   39400         4      1.317                     25.50
4        Japan   34000         5      1.326                     77.00

In [4]:
csv2="2016_Legatum_Prosperity_Index_All_Data_2007-2016.csv"
df2= pd.read_csv(csv2)
df2.head()

,country,isonum,isocode,rank_PI2007,rank_PI2008,rank_PI2009,rank_PI2010,rank_PI2011,rank_PI2012,rank_PI2013,...,PI2007,PI2008,PI2009,PI2010,PI2011,PI2012,PI2013,PI2014,PI2015,PI2016
0,Afghanistan,4,AFG,148,147,147,147,149,149,147,...,37.658974,37.647057,38.963036,38.378296,36.900200,38.668499,38.932735,37.607174,37.455376,37.432201
1,Angola,24,AGO,135,132,134,136,139,141,141,...,43.880779,44.554420,44.535950,44.873085,44.395847,43.162972,44.323620,42.917389,42.886642,42.886642
2,Albania,8,ALB,83,74,70,73,71,74,80,...,54.893284,56.077152,56.720837,57.207157,57.316963,57.465553,56.761211,57.827785,58.045925,58.033268
3,United Arab Emirates,784,ARE,43,42,42,41,42,42,41,...,61.111191,61.666214,61.987743,62.561245,62.539627,62.898399,63.802238,64.131271,64.020416,64.007759
4,Argentina,32,ARG,59,61,53,47,45,46,46,...,58.557571,58.000702,59.333523,60.808849,61.545551,60.947567,61.472919,60.910938,61.759857,61.759857

In [5]:
database_path = "GPI_and_religion.sqlite"
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

In [6]:
data = pd.read_sql("SELECT * FROM GPI_and_religion", conn)
data.head()

OperationalError: (sqlite3.OperationalError) no such table: GPI_and_religion [SQL: 'SELECT * FROM GPI_and_religion'] (Background on this error at: http://sqlalche.me/e/e3q8)